/* Estilos generales */

header,footer{    
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

footer{    
    font-size: 0.8em;    
}

body{
    min-height: 100vh;  /* Toma el 100% del tamaño de lo que hay en el body */ 
    display: grid;  /* Lo divide en una grilla */ 
    grid-auto-flow: auto 1fr auto;  /* Y acomoda de manera automatica los puntas de la grilla. El primer auto es para el header y el segundo para el footer. El tamaño del medio es para la section */ 
    margin: 0;  
}


h1{
    color: aquamarine;
}

h2 {
    margin-bottom: 1px; 
}

h4{
    margin-bottom: 1px;
    font-size: 1em;
}


/* Configuracion para la imgen del header */

.header_content{
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center;
}

.btc_image {
    width: 100px; 
    height: auto; 
    border-radius: 50%;  /* Hace a la imagen redonda */
    margin-left: 15px;
    margin-bottom: 50px;
}


/* Rresaltar los elementos de la tabla en hover (excepto encabezados) */
tr:not(:first-child):hover * {  
    background-color: rgb(12, 125, 14);
    color: whitesmoke;
}


/*---------------------------------------------------------------------------------------------------------*/

/* Estilos para la tabla y el estatus */
.crypto_table{
    float: left;
    width: 67%;
    box-sizing: border-box;
}

.status{
    float: right;    
    margin-top: auto;        
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3ch;
    padding-right: 3ch;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-bottom: 15px;
    width: 360px;
    background-color: rgb(12, 125, 14);

}

.status *{  /* Cambia el color de fuente a todos los elementos dentro del article id="status" */
    color: whitesmoke;
}



/* Estilo para el articulo que contiene el formulario */
.inactive{
    display: none;  
    padding-top: 5%;
    padding-bottom: 1%;
}


/* Estilos para ordenar el formulario de carga*/
.sub_grid{
    display: grid;
    grid-template-columns: 15% 85%;

}
.item5{
    grid-column: 2;
    grid-row: 3;
}

/* Estilos para ordenar los botones Invertir y Actualizar Status*/
.btn_console{
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    width: 360px;    
}

#btn_status:hover {background-color: rgb(12, 125, 14)}


/* Estilos de botones cerrar y guardar del formulario*/
.grid_button{
    display: grid;
    grid-template-columns: auto 150px 150px auto;
    column-gap: 2%;
    padding-top: 5%;
}
.button1{
    grid-column: 2;
}
.button2{
    grid-column: 3;
}


/* Tamaños de elementos*/
#to, #from, #button_calc{
    max-width: 150px;
}
#quantity_from{
    max-width: 270px;
}



/* Hacer que el formulario sea una ventana superpuesta 
#investments_table, #form_detail {
    position: relative;
}

#investments_table, #status, #btn_console {
    z-index: 1;
}

#form_detail {
    z-index: 2;
}
*/