header{    
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

footer{
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 0.8em;
    font-weight: bold;
}

body{
    min-height: 100vh;  /* Toma el 100% del tamaño de lo que hay en el body */ 
    display: grid;  /* Lo divide en una grilla */ 
    grid-auto-flow: auto 1fr auto;  /* Y acomoda de manera automatica los puntas de la grilla. El primer auto es para el header y el segundo para el footer. El tamaño del medio es para la section */ 
    margin: 0;  
}

h1{
    color: aquamarine;
}

h2 {
    margin-bottom: 1px; 
}

.float_right{
    float: right;
}

.float_left{
    float: left;

}