header,footer{    
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

footer{    
    font-size: 0.8em;    
}

body{
    min-height: 100vh;  /* Toma el 100% del tamaño de lo que hay en el body */ 
    display: grid;  /* Lo divide en una grilla */ 
    grid-auto-flow: auto 1fr auto;  /* Y acomoda de manera automatica los puntas de la grilla. El primer auto es para el header y el segundo para el footer. El tamaño del medio es para la section */ 
    margin: 0;  
}


h1{
    color: aquamarine;
}

h2 {
    margin-bottom: 1px; 
}

h4{
    margin-bottom: 1px;
    font-size: 1em;
}


/* Estilos para la tabla y el estatus */
.crypto_table{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.status{
    float: right;    
    margin-top: auto;        
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3ch;
    padding-right: 3ch;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}



/* Estilo para el articulo que contiene el formulario */
.inactive{
    display: none;  
    padding-top: 5%;
    padding-bottom: 1%;
}


/* Estilos para ordenar el formulario de carga*/
.sub_grid{
    display: grid;
    grid-template-columns: 15% 85%;

}
.item5{
    grid-column: 2;
    grid-row: 3;
}


/* Estilos de botones cerrar y guardar del formulario*/
.grid_button{
    display: grid;
    grid-template-columns: auto 150px 150px auto;
    column-gap: 2%;
    padding-top: 5%;
}
.button1{
    grid-column: 2;
}
.button2{
    grid-column: 3;
}


/* Tamaños de elementos*/
#to, #from, #button_calc{
    max-width: 150px;
}
#quantity_from{
    max-width: 270px;
}



/* Hacer que el formulario sea una ventana emergente */
#investments_table, #form_detail {
    position: relative;
}

#investments_table {
    z-index: 1;
}

#form_detail {
    z-index: 2;
}



/* Primera clase vieja para acomodar formulario - no borrar por ahora
.grid_item_left{
    display: flex;
    justify-content: left;
    align-items: left;    
}

.grid_item_right{
    display: flex;
    justify-content: right;
    align-items: left;    
}
*/

/* Segunda clase vieja para acomodar formulario - no borrar por ahora
.grid_form{
    display: grid;
    grid-template-columns: 75px auto 75px auto;
}
.form_item9{
    grid-column: 3;
    grid-row: 3;
}
.form_item10{
    grid-column: 4;
    grid-row: 3;
}
*/