<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones App</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="/static/js/app.js"></script>
</head>

<body>
    <header class="container">
        <h1>myCrypto</h1>
    </header>


    <section class="container">

        <h2>Movimientos</h2>
        
        <div class="crypto_table">
            <table id="investments_table">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                </tr>
            </table>
        </div>

        <article class="status">
            <h4>Invertido: </h4>
            <label>Quien sabe</label>
            <h4>Recuperando: </h4>
            <label>Quien sabe</label>
            <h4>V. de compra: </h4>
            <label>Quien sabe</label>
            <h4>V. actual: </h4>
            <label>Quien sabe</label>
        </article>

        <a href="#" role="button" id="btn_nuevo">Invertir</a>

        <article id="form_detail" class="inactive">
            <form id="exchange_form" method="post">

                <div class="grid">
                    <div class="sub_grid">
                        <div><label for="from">From: </label></div>
                        <div><select name="from" id="from">
                                <option value="EUR">EUR</option>
                                <option value="BTC">BTC</option>
                                <option value="ETH">ETH</option>
                                <option value="USDT">USDT</option>
                                <option value="BNB">BNB</option>
                                <option value="XRP">XRP</option>
                                <option value="ADA">ADA</option>
                                <option value="SOL">SOL</option>
                                <option value="DOT">DOT</option>
                                <option value="MATIC">MATIC</option>
                            </select></div>

                        <div><label for="quantity_from">Q: </label></div>
                        <div><input type="number" name="quantity_from" id="quantity_from"
                                placeholder="Cuanto deseas invertir"></div>

                        <div class="item5"><button name="button_calc" id="button_calc"><span class="material-symbols-outlined">
                                    calculate
                                </span></button></div>

                    </div>

                    <div class="sub_grid">
                        <div><label for="to">To: </label></div>
                        <div><select name="to" id="to">
                                <option value="EUR">EUR</option>
                                <option value="BTC">BTC</option>
                                <option value="ETH">ETH</option>
                                <option value="USDT">USDT</option>
                                <option value="BNB">BNB</option>
                                <option value="XRP">XRP</option>
                                <option value="ADA">ADA</option>
                                <option value="SOL">SOL</option>
                                <option value="DOT">DOT</option>
                                <option value="MATIC">MATIC</option>
                            </select></div>

                        <div><label>Q: </label></div>
                        <div><label id="quantity_to">asd</label></div>

                        <div><label>P.U.: </label></div>
                        <div><label id="pu">ASD</label></div>
                    </div>
                </div>

                <div class="grid_button">
                    <button id="btn_cerrar" class="button1">Cerrar</button>
                    <button id="btn_confirmar" class="button2">Confirmar</button>
                </div>

            </form>
        </article>

    </section>


    <footer class="container">
        &copy; 2024 - Franco Romano Data - Todos los derechos reservados
    </footer>
</body>

</html>